<!DOCTYPE html>

<html>
    <head>
        <title>about</title>
 <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
     
        {{>header}}  
        <h1> about </h1>
        <img src="/img/jan.jpeg">
        {{>footer}}
    </body>
</html>  